.container {
  width: 100%;
  background-color: var(--ion-color-light-tint);
}

#inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 5px;
}

ion-checkbox {
  margin: 0px 5px;
}

ion-label {
  margin: 0px;
}

ion-item {
  --min-height: 30px;
  --inner-padding-end: 0px;
  --color: var(--ion-background);
  --ion-item-background: var(--ion-color-light-tint);

  font-weight: bold;
}

.header-row {
  background-color: var(--ion-color-light-tint);
}

.data-row {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.data-row:nth-child(even) {
  background-color: var(--ion-color-light-tint);
}

.center-text {
  text-align: center;
}