.container {
  margin: auto;
  width: 350px;
}

#inputs {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
}

ion-checkbox {
  margin: 0px 5px;
}

ion-label {
  margin: 0px;
}

ion-item {
  --min-height: 30px;
}