$results-background-color: #9DC6C6;

.container {
  width: 100%;
  background-color: $results-background-color;
}

#inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 5px;
}

ion-checkbox {
  margin: 0px 5px;
}

ion-label {
  margin: 0px;
}

ion-item {
  --min-height: 30px;
  --inner-padding-end: 0px;
  --color: #fff;
  --ion-item-background: $results-background-color;

  font-weight: bold;
}

.header-row {
  background-color: $results-background-color;
}

.data-row {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.data-row:nth-child(even) {
  background-color: #f2f2f2;
}

.center-text {
  text-align: center;
}