<ion-content>
  <div id="container">
    <ion-text id="intro">
      Enter the id of your Google Sheets. You can find an example <a rel="noopener" target="_blank" href="https://docs.google.com/spreadsheets/d/1z_N3red4FqJd7L5psB2ES8KbiMZpAoWj/">here</a>. The id needed is found at the end of the URL, in the case of the example it would be: 1z_N3red4FqJd7L5psB2ES8KbiMZpAoWj
      <br/><br/><br/>
    </ion-text>
    <form (ngSubmit)="process()">
      <ion-label class="subtitle"> Google Sheets ID </ion-label>
      <ion-input
        type="string"
        name="id"
        [(ngModel)]="id"
        class="center text_input"
      ></ion-input>

      <ion-button type="submit"> Process </ion-button>

      <ion-label class="error" [style.display]="errorDisplay">
        {{ errorMessage }}</ion-label
      >
    </form>
  </div>
</ion-content>
